h3 {
  color: red;
  font-family: sans-serif;
  font-weight: bold;
}

h4 {
  color: red;
  font-family: sans-serif;
  font-weight: normal;
}

section {
  color: black;
  font-family: serif;
  font-weight: normal;
}
